<form (ngSubmit)="submitForm()"
      [formGroup]="form"
      class="order-form">
  <h3 mat-dialog-title class="form__title">Вашe замовлення буде:</h3>
  <div class="form__content">
    <mat-form-field appearance="fill">
      <mat-label>Заголовок</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ім'я та прізвище</mat-label>
      <input matInput formControlName="FIO">
    </mat-form-field>

    <mat-form-field appearance="fill" class="required">
      <mat-label> Номер телефону</mat-label>
      <input matInput formControlName="tel" maxlength="12">
      <mat-icon matTooltipPosition="above" matTooltip="Наприклад: 380979998877" class="form__tooltip">
        help_outline
      </mat-icon>
      <mat-hint align="end" class="form__required">Обов'язкове поле</mat-hint>

      <mat-error *ngIf="form.hasError('tel') && !form.hasError('required')">
        Номер телефону повинен бути типу: <strong>380979876543</strong>
      </mat-error>
      <mat-error *ngIf="form.hasError('required')">
        Номер телефону <strong>обов'язковий</strong>
      </mat-error>

    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label> Електронна адреса</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill" class="form__describe">
    <mat-label>Опис послуги</mat-label>
    <textarea matInput formControlName="describe" ></textarea>
  </mat-form-field>

  <button mat-raised-button type="submit" class="form__submit">Відправити форму</button>
</form>

